stuff/old/

.DS_Store
.gitignore.swp
config.local.js
noDefaultRoom.html
source/Server/tmp/*
data/
node_modules/
.svn/

.config.rb.swp
source/err.log
source/out.log

*.sublime-project
*.sublime-workspace

/nbproject/private/
/nbproject/*
