stuff/old/
config.local.js
noDefaultRoom.html
source/Server/tmp/*
data/
.svn/

# OS X
.DS_Store

# NodeJS
node_modules/

# IDE settings
## Sublime
*.sublime-project
*.sublime-workspace

## Netbeans
/nbproject/private/
/nbproject/*

## VIM
*.swp

## Jetbrains
.idea
