<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Web Arena</title>
    <meta content="minimum-scale=1.0, initial-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <meta name="author" content="Codrops" />
    <link type="text/css" href="/guis.common/css/demo.css" rel="Stylesheet">
    <link type="text/css" href="/guis.common/css/login.css" rel="Stylesheet">
    <link type="text/css" href="/guis.common/css/animate-custom.css" rel="Stylesheet">

  </head>
  <body>

    {{{body}}}

  </body>
</html>
