<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Web Arena</title>
    <meta content="minimum-scale=1.0, initial-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="description" content="">
    <meta name="author" content="">

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/guis.common/libraries/jquery/jquery.js"></script>
    <script type="text/javascript" src="/guis.common/libraries/async.js"></script>

    <script type="text/javascript" src="/guis.common/translation_de.js"></script>
    <script type="text/javascript" src="/guis.common/translation_en.js"></script>
    <script type="text/javascript" src="/guis.common/translation_es.js"></script>

    <script type="text/javascript" src="/guis.common/libraries/jquery/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="/guis.common/libraries/mobile-detect.min.js"></script>

    <script type="text/javascript" src="/guis.common/libraries/webcodecamjs_2_0_5/qrcodelib.js"></script>
    <script type="text/javascript" src="/guis.common/libraries/webcodecamjs_2_0_5/webcodecamjs.js"></script>
    <!--<script type="text/javascript" src="/guis.common/libraries/webcodecamjs/main.js"></script>-->

    <!--<link type="text/css" href="/guis.common/css/webcodecamjs/bootstrap.css" rel="Stylesheet" />-->
    <link type="text/css" href="/guis.common/css/webcodecamjs/style.css" rel="Stylesheet" />

    {{{block "head"}}}
  </head>
  <body>

    {{{block "body"}}}

  </body>
</html>
