<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<title>Webarena 1.0</title>
	
	<meta content="minimum-scale=1.0, initial-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<link rel="apple-touch-icon" sizes="72x72" href="/guis.common/images/ipad_icon.png" />

	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<script src="/socket.io/socket.io.js"></script>

	<script type="text/javascript" src="/guis.common/libraries/jquery/jquery.js"></script>
	<script type="text/javascript" src="/guis.common/libraries/jquery/plugins/jquery.jPopover.js"></script>
    <script type="text/javascript" src="/guis.common/libraries/jquery/plugins/jsTree/jquery.jstree.js"></script>
    <script type="text/javascript" src="/guis.common/libraries/jquery/plugins/jquery.toastmessage.js"></script>

    <script type="text/javascript" src="/guis.common/libraries/moment.min.js"></script>
    <script type="text/javascript" src="/guis.common/libraries/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/guis.common/libraries/jquery/plugins/jquery.autogrow.js"></script>
    <script type="text/javascript" src="/guis.common/libraries/jquery/plugins/jquery.jeditable.js"></script>
    <script type="text/javascript" src="/guis.common/libraries/jquery/plugins/jquery.jeditable.autogrow.js"></script>
    <script type="text/javascript" src="/guis.common/libraries/jquery/plugins/jquery.dotdotdot.js"></script>

	<script type="text/javascript" src="/guis.common/libraries/jquery/plugins/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="/guis.common/libraries/jquery/plugins/jquery.scrollTo.min.js"></script>

	<script type="text/javascript" src="/guis.common/libraries/jquery/plugins/jquery.svg.min.js"></script>
	<script type="text/javascript" src="/guis.common/libraries/jquery/plugins/jquery.svgdom.min.js"></script>
	<script type="text/javascript" src="/guis.common/libraries/jquery/plugins/jquery.svgfilter.min.js"></script>
	<script type="text/javascript" src="/guis.common/libraries/jquery/plugins/jquery.svganim.min.js"></script>

	<script type="text/javascript" src="/guis.common/libraries/jquery/jquery-ui.js"></script>
	<link type="text/css" href="/guis.common/libraries/jquery/css/jquery-ui.css" rel="Stylesheet" />

	<script type="text/javascript" src="/guis.common/libraries/jquery/plugins/jquery.color.js"></script>


	<script src="/config.default.js"></script>
	<script src="/config.local.js"></script>
	<script src="/Helper.js"></script>
	<script src="/Dispatcher.js"></script>
	<script src="/ObjectManager.js"></script>
	<script src="/SocketClient.js"></script>

	<script src="/Common/Log.js"></script>
	<script src="/Common/DataSet.js"></script>
	<script src="/Common/ActionManager.js"></script>
	<script src="/Common/AttributeManager.js"></script>
	<script src="/Common/TranslationManager.js"></script>

	<script>
	var  Modules={
		'Log':Log,
		'config':Config,
		'Config':Config,
		'SocketClient':SocketClient,
		'Dispatcher':Dispatcher,
		'ObjectManager':ObjectManager,
		'Helper':Helper,

		//Object specific

		'DataSet':DataSet,
		'AttributeManager':AttributeManager,
		'TranslationManager':TranslationManager,
		'ActionManager':ActionManager,
	};

	
	$(document).ready(function() {
		for (var name in Modules){
			var module=Modules[name];
			if (module.init) {
				module.init(Modules);
				module.Modules=Modules;
			}
		}
		
		document.title=Modules.Config.projectTitle||'WebArena';
		
	});

	</script>

	<script src="/objects"></script>





	<script type="text/javascript" src="/defaultJavascripts"></script>



	<script type="text/javascript" src="/guis.common/translation_de.js"></script>

    <link type="text/css" href="/guis/desktop/style.css" rel="Stylesheet" />
	<link type="text/css" href="/guis.common/css/actionsheet.css" rel="Stylesheet" />
	<link type="text/css" href="/guis.common/css/progressBar.css" rel="Stylesheet" />
	<link type="text/css" href="/guis.common/css/login.css" rel="Stylesheet" />
	<link type="text/css" href="/guis.common/css/studiolo.css" rel="Stylesheet" />
	

	<script type="text/javascript" src="/guis.common/libraries/jquery/plugins/jquery.jDesktopInspector.js"></script>
	<link type="text/css" href="/guis.common/libraries/jquery/plugins/css/jquery.jDesktopInspector.css" rel="Stylesheet" />
	<link type="text/css" href="/guis.common/libraries/jquery/plugins/css/jquery.jPopover.desktop.css" rel="Stylesheet" />

    <script type="text/javascript" src="/guis/desktop/main.js"></script>
	<script>

        /**
         * Define room which will be loaded (value will be replaced by node.js Webserver)
         */
        GUI.startRoom = '##START_ROOM##';

        /**
         * check if device is touch-device
         */
        if (!!('ontouchstart' in window)) {
            GUI.isTouchDevice = true;
        }

        /**
         * jQuery extension used to prevent scrolling of sidebar/body when scrolling of sidebar contents hits top/bottom (e.g. for chat messages container)
         */
        $.fn.dontScrollParent = function()
        {
            this.bind('mousewheel DOMMouseScroll',function(e)
            {
                var delta = e.originalEvent.wheelDelta || -e.originalEvent.detail;

                if (delta > 0 && $(this).scrollTop() <= 0)
                    return false;
                if (delta < 0 && $(this).scrollTop() >= this.scrollHeight - $(this).height())
                    return false;

                return true;
            });
        }

	</script>
</head>
<body>
	
	<div id="header">
		
		<div class="header_right">
			
		</div>
		
		<div class="header_left">
		
		</div>
		
	</div>

	<div id="couplingNavigation"></div>
	
	<div id="content"></div>
	
	<div id="sidebar">
		<div id="sidebar_title"><span></span></div>
		<div id="sidebar_content">
			<div>
				<div id="inspector"></div>
				<div id="chat"></div>
				<div id="bug">
					
					<div>
						Ist Ihnen bei der Benutzung ein Fehler aufgefallen? Teilen Sie uns ihn doch bitte mit.<br />
						Bitte haben Sie Verständnis dafür, dass wir nicht auf jede Anfrage persönlich antworten können.
						<span><br />
						<br />
							Beachten Sie: Mit Ihrer Fehlermeldung wird eine Liste aller Objekte gesendet, um uns eine Auswertung des Fehlers zu ermöglichen.
						</span>
					</div>
					
					<div id="bug_report">
						
						<span>Was wollten Sie tun?</span>
						<textarea id="bug_task"></textarea>
					
						<span>Welches Problem ist aufgetreten?</span>
						<textarea id="bug_problem"></textarea>
						
						<span>Ihre Email-Adresse:</span>
						<input type="email" id="bug_email" />
						
						<p><input type="submit" value="Senden" id="bug_submit" /></p>
					
					</div>
					
					<div id="bug_result"></div>
					
				</div>
			</div>
		</div>
	</div>
	
	<div id="actionsheet"></div>
	
	<div id="error_bg"></div>
	<div id="error_box">
		
		<div id="error_box_heading"></div>
		<div id="error_box_message"></div>
		<div id="error_box_button"></div>
		
	</div>


	<div id="login_background" style="display: none">&nbsp;</div>
	<div id="login" style="display: none;">
		
		<div class="login_title" id="login_title">Webarena 1.0</div>
		
		<div class="login_error"></div>
		
		<div class="login_icon login_icon_username"></div><input type="text" name="username" value="" id="login_username" class="login_input" autocomplete="off" placeholder="Username" autofocus="autofocus" />
		
		<br />
		
		<div class="login_icon login_icon_password"></div><input type="password" name="password" value="" id="login_password" class="login_input" autocomplete="off" />
		
		<br />
		
		<input type="submit" name="login" value="Login" class="login_submit" id="login_submit" />
		
	</div>
	
	
	<div id="progressBar"><div class="progressBar_container"></div></div>

    <!-- BEGIN: Underscore Template Definition. -->
    <script type="text/template" id="discussion-message-template">

        <div class='discussion-statement <%- additionalClasses %>' data-message-id='<%- message.timestamp %>'>
        <div class='discussion-statement-heading'>
            <span class='message-author'> <%- message.author %> </span>
            <span class='message-timestamp'>( <%- message.formattedTimestamp %> )</span>
            </div>
        <p class='discussion-statement-text'> <%- message.text %> </p>

        <div class='statement-delete'>löschen</div>
        <div class='statement-edit'>bearbeiten</div>
        </div>
    </script>
    <script type="text/template" id="discussion-container-template">
        <div class="discussion">
        <div class="embedded-toolbar moveArea">
            <span class="minimize-button"></span>
            </div>
        <div class="discussion-content">
            <div class="discussion-heading"> <%- heading %>
                </div><div class="discussion-text"></div>
           </div>
        <input class="discussion-input" placeholder=Texteingabe>
        </div>
    </script>
    <!-- END: Underscore Template Definition. -->

</body>
</html>
