body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	font-size: 9px;
	height: 100%;
}


#header {
	z-index: 11001;
	height: 33px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 230px;
	background: -moz-linear-gradient(
		center top ,
		#3E3E3E 0%,
		#1E1E1E 100%) repeat scroll 0 0 transparent;	
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #3E3E3E),
		color-stop(1, #1E1E1E)
		);
	color: #eaecf0;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 3px;
	border-right: 1px solid #000000;
}

#header img {
	opacity: 0.6;
	cursor: pointer;
}

#header img.active, #header img:hover {
	opacity: 0.9;
}


#header>div.header_left {
	margin-left: 0px;
	position: relative;
	top: -4px;
}


#header>div.header_right {
	float: right;
	position: relative;
	top: -4px;
}



#header>div.header_left>img {
	display: block;
	margin-top: 8px;
	margin-left: 20px;
	float: left;
}

#header>div.header_right>img {
	display: block;
	margin-top: 8px;
	margin-right: 20px;
	float: left;
}





#chat_notifier {
	background-color: #D60000;
	padding: 1px;
	border-radius: 2px;
	padding-left: 3px;
	padding-right: 3px;
	position: absolute;
	margin-top: 6px;
	margin-left: -2px;
	cursor: pointer;
}







#content {
	margin-top: 33px;
	position: absolute;
}







.jMove_frame {
	border: 1px solid #80CCFF;
}

.jMove_bullet {
	background-color: #008DDF;
	width: 15px;
	height: 15px;
	position: absolute;
	border-radius: 100px;
	border: 2px solid #FFFFFF;
	box-shadow: 0px 1px 2px #818181;
	-webkit-box-shadow: 0px 1px 2px #818181;
	-moz-box-shadow: #818181 0px 1px 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(#008DDF), to(#00629B));
	background: -moz-linear-gradient(top, #008DDF, #00629B);
}

.jMove_rubberband {
	border: 1px dashed #CCCCCC;
	position: absolute;
}

.maxWidth {
    width: 100%;
}

.scrollWrapper {
    overflow: scroll;
}







#error_bg {
	background:-webkit-gradient(radial, center center, 80, center center, 400, from(#CCCCCC), to(#000000));
	background:-webkit-radial-gradient(center, #CCCCCC, #000000);
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 999999999;
	opacity: 0.4;
	display: none;
}

#error_box {
	display: none;
	background:-webkit-gradient(linear, left top, left bottom, from(#3e4b71), to(#303f67));
	background:-webkit-linear-gradient(top, #3e4b71, #303f67);
	width: 380px;
	border-radius: 10px;
	z-index: 9999999999;
	left: 50%;
	margin-left: -200px;
	position: absolute;
	border: 3px solid #c0c5d1;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
	color: #FFFFFF;
	font-size: 18px;
	padding: 10px;
	text-align: center;
	padding-bottom: 70px;
}

#error_box_heading {
	font-weight: bold;
}

#error_box_message {
	margin-top: 10px;
}

#error_box_button {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #dde0e6),
		color-stop(0.03, #babfcc),
		color-stop(0.5, #828ba3),
		color-stop(0.51, #616d8c),
		color-stop(1, #747e99)
	);
	height: 25px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 18px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	padding-top: 9px;
	border-radius: 5px;
	border: 1px solid #222c48;
	-webkit-box-shadow: 0px 1px 1px #596585;
	position: absolute;
	bottom: 10px;
	right: 8px;
}








/* sidebar */

#sidebar {
	position: fixed;
	width: 230px;
	right: 0px;
	top: 10px;
	bottom: 0px;
	-webkit-box-shadow: inset 2px 0px 10px rgba(0,0,0,0.3);
	background-image: url(/guis.common/images/sidebar_bg.png);
	z-index: 999;
	padding-top: 0px;
}

#sidebar_title {
	z-index: 11000;
	height: 24px;
	position: fixed;
	top: 0px;
	width: 220px;
	right: 0px;
	background: -moz-linear-gradient(
		center top ,
		#3E3E3E 0%,
		#1E1E1E 100%) repeat scroll 0 0 transparent;	
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #3E3E3E),
		color-stop(1, #1E1E1E)
		);
	color: #ADADAD;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 3px;
	border-left: 1px solid #636363;
	font-size: 12px;
	padding-top: 9px;
	padding-left: 9px;
}

#sidebar_content {
	overflow: scroll;
	width: 2000px;
	position: absolute;
	top: 23px;
	bottom: 0px;
	left: 0px;
}

#sidebar_content>div {
	width: 2000px;
}

#sidebar_content>div>div {
	float: left;
	width: 230px;
}





#actionsheet {
	position: absolute;
}





#disconnected_message {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	opacity: 0.7;
	z-index: 9999999;
}

#disconnected_message>div {
	margin-top: 100px;
}

#disconnected_message>div>span {
	text-decoration: underline;
	cursor: pointer;
}