.actionsheet {
	position: absolute;
	top: 200px;
	left: 200px;
	z-index: 12000;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.6);
	-moz-box-shadow: rgba(0,0,0,0.6) 0px 2px 5px;
	border: 1px solid #141414;
	border-radius: 9px;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #bbbbbb),
		color-stop(0.03, #929191),
		color-stop(0.5, #535252),
		color-stop(0.51, #383838),
		color-stop(1, #141414)
	);
	background: -moz-linear-gradient(
		center top ,
		#bbbbbb 0%,
		#929191 3%,
		#535252 50%,
		#383838 51%,
		#141414 100%);
	background: -o-linear-gradient(
		#bbbbbb 0%,
		#929191 3%,
		#535252 50%,
		#383838 51%,
		#141414 100%);
}

.actionsheet>div.actionsheet_arrow {
	position: absolute;
	top: 6px;
	left: -9px;
	z-index: 10001;
	background-color: #141414;
	width: 25px;
	height: 25px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.6);
	-moz-box-shadow: rgba(0,0,0,0.6) 0px 2px 5px;
}

.actionsheet>div.actionsheet_buttons {
	display: table;
}

.actionsheet>div.actionsheet_buttons>div.actionsheet_button {
	z-index: 10002;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #bbbbbb),
		color-stop(0.03, #929191),
		color-stop(0.5, #535252),
		color-stop(0.51, #383838),
		color-stop(1, #141414)
	);
	background: -moz-linear-gradient(
		center top ,
		#bbbbbb 0%,
		#929191 3%,
		#535252 50%,
		#383838 51%,
		#141414 100%);
	background: -o-linear-gradient(
		#bbbbbb 0%,
		#929191 3%,
		#535252 50%,
		#383838 51%,
		#141414 100%);
	height: 21px;
	padding-left: 15px;
	padding-right: 15px;
	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 14px;
	padding: 5px;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	padding-top: 11px;
	border-right: 1px solid rgba(0,0,0,0.3);
	border-left: 1px solid rgba(255,255,255,0.2);
	line-height: 100%;
	cursor: pointer;
}

.actionsheet>div.actionsheet_buttons>div.actionsheet_button_hover {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #acb5e8),
		color-stop(0.03, #6e83fa),
		color-stop(0.5, #4b63fc),
		color-stop(0.51, #324ffc),
		color-stop(1, #314ffe)
	) !important;
	background: -moz-linear-gradient(
		center top ,
		#acb5e8 0%,
		#6e83fa 3%,
		#4b63fc 50%,
		#324ffc 51%,
		#314ffe 100%);
	background: -o-linear-gradient(
		#acb5e8 0%,
		#6e83fa 3%,
		#4b63fc 50%,
		#324ffc 51%,
		#314ffe 100%);
}

.actionsheet>div.actionsheet_buttons>div.actionsheet_button:first-child {
	border-top: 0px;
	border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-right-left-radius: 8px;
	-moz-border-radius-topright: 8px;
}

.actionsheet>div.actionsheet_buttons>div.actionsheet_button:last-child {
	border-bottom: 0px;
	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
}