.actionsheet {
	position: absolute;
	top: 200px;
	left: 200px;
	z-index: 12000;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.6);
	-moz-box-shadow: rgba(0,0,0,0.6) 0px 2px 5px;
	border: 1px solid #141414;
	border-radius: 9px;
    	background: -webkit-linear-gradient(#404040 , #000000); 
    	background: -o-linear-gradient(#404040 , #000000);
    	background: -moz-linear-gradient(#404040 , #000000);
    	background: linear-gradient(#404040 , #000000);
}

.actionsheet>div.actionsheet_triangle {
	position: absolute;
	top: 9px;
	left: -12px;
	z-index: 10001;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 11px 10px 0;
	border-color: transparent #353535 transparent transparent;
}

.actionsheet>div.actionsheet_buttons {
	display: table;
}

.actionsheet>div.actionsheet_buttons>div.actionsheet_button {
	z-index: 10002;
	height: 21px;
	padding-left: 15px;
	padding-right: 15px;
	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 14px;
	padding: 5px;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	padding-top: 11px;
	border-right: 1px solid rgba(0,0,0,0.3);
	border-left: 1px solid rgba(255,255,255,0.2);
	line-height: 100%;
	cursor: pointer;
}

.actionsheet>div.actionsheet_buttons>div.actionsheet_button:hover {
	background: #707374;
}

.actionsheet>div.actionsheet_buttons>div.actionsheet_button:first-child {
	border-top: 0px;
	border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
}

.actionsheet>div.actionsheet_buttons>div.actionsheet_button:last-child {
	border-bottom: 0px;
	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
}