/**************************************/
/*           Discussion               */
/**************************************/
/* line 7, ../sass/discussion.scss */
.discussion {
  border: 2px solid #cccccc;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 5px;
  background-color: #FFFFFF;
}

/* line 16, ../sass/discussion.scss */
.discussion-text {
  overflow-y: scroll;
  border-bottom: 2px solid #cccccc;
  border-top: 2px solid #cccccc;
}

/* line 23, ../sass/discussion.scss */
.discussion-heading {
  margin-bottom: 5px;
  margin-top: 0px;
  padding: 5px;
  font-size: 16px;
}

/* line 32, ../sass/discussion.scss */
.discussion-statement {
  background-color: white;
  position: relative;
}

/* line 37, ../sass/discussion.scss */
.discussion-statement-heading {
  border-top: 2px solid #CCCCCC;
  padding: 5px;
  font-size: 16px;
  color: #04138A;
}

/* line 46, ../sass/discussion.scss */
.discussion-statement-heading .message-timestamp {
  float: right;
  font-size: 12px;
}
/* line 51, ../sass/discussion.scss */
.discussion-statement-heading .message-author {
  font-size: 12px;
}

/* line 57, ../sass/discussion.scss */
.discussion-statement-text {
  padding: 5px;
  font-size: 14px;
  margin: 0px;
}

/* line 63, ../sass/discussion.scss */
.discussion-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

/* line 70, ../sass/discussion.scss */
.statement-operation, .statement-delete, .statement-edit {
  display: none;
  position: absolute;
  right: 3px;
  top: 25px;
  font-size: 12px;
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.5);
}

/* line 80, ../sass/discussion.scss */
.statement-operation:hover, .statement-delete:hover, .statement-edit:hover {
  font-weight: bold;
}

/* line 88, ../sass/discussion.scss */
.statement-edit {
  right: 50px;
}

/* line 93, ../sass/discussion.scss */
.discussion-statement-deletable:hover .statement-delete {
  display: block;
}

/* line 97, ../sass/discussion.scss */
.discussion-statement-deletable:hover .statement-edit {
  display: block;
}
