/**************************************/
/*           Discussion               */
/**************************************/

.discussion-text{
    border-radius: 5px;
    overflow-y: scroll;
}

.discussion-heading{
    margin-bottom: 0px;
    margin-top: 0px;

}



.discussion-statement{
    background-color: white;


}

.discussion-statement-heading{
    border-top: 2px solid #CCCCCC;
    padding: 5px;

    font-size: 16px;
    color: #04138A;

}

.discussion-statement-heading .message-timestamp{
    float: right;
    font-size: 12px;
}

.discussion-statement-heading .message-author{
    font-size: 12px;
}

.discussion-statement-text{
    padding: 5px;
    font-size: 14px;
    margin: 0px;
}

.discussion-input{
    width: 99%;
    -moz-box-sizing: border-box;
}