/**************************************/
/*           EasyDB                   */
/**************************************/

.easydb-result-wrapper table{
    width: 400px;
}

.easydb-result-wrapper table tr{

}

.easydb-result-wrapper table > th{
    font-weight: bold;
    vertical-align: top;
    width: 20%;
}

.easydb-result-wrapper table tr:hover{
    background-color: #eeeeee;
}

.selected-row{
    background-color: #dddddd;
}

.easydb-result-wrapper table tr:hover .selected-row{
    background-color: #CCCCCC;
}

.paginator-button{
    float: left;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #000000;
    background-color: #eeeeee;
    border-radius: 5px;
    font-weight: bold;
}

.paginator-button.current{

    background-color: #cccccc;

}






