#easydb-dialog {
  padding-left: .5em;
  padding-right: .5em;
}
#easydb-dialog input {
  border: 1px solid #DFDFE1;
  padding: 5px;
  margin-top: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.easy-load-wrapper {
  width: 150px;
  margin: 150px auto;
  text-align: center;
}

.ui-dialog-content {
  overflow: hidden !important;
}

.easydb-result-wrapper {
  border-top: 1px solid #a2a2a2;
  margin-top: 5px;
  height: 90%;
  overflow: auto;
  margin-right: -1em;
}

.easydb-result-wrapper table > th {
  font-weight: bold;
  vertical-align: top;
  width: 20%;
}

.easydb-result-wrapper table tr:hover {
  background-color: #eeeeee;
}

.selected-row {
  background-color: #dddddd;
}

.easydb-result-wrapper table tr:hover .selected-row {
  background-color: #CCCCCC;
}

.paginator {
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.paginator-button {
  float: left;
  padding: 5px;
  border: 1px solid #a2a2a2;
  background-color: #eeeeee;
  font-weight: bold;
}
.paginator-button.first {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.paginator-button.last {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.paginator-button.current {
  background-color: #cccccc;
}
