/**************************************/
/*           Discussion               */
/**************************************/
.discussion {
  border: 2px solid #cccccc;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 5px;
  background-color: #EEEEEE;
  max-height: 100%;
}

.discussion-content {
  overflow-y: scroll;
}

.discussion-text {
  border-bottom: 2px solid #cccccc;
  border-top: 2px solid #cccccc;
}

.discussion-heading {
  margin-top: 0px;
  padding: 7px;
  font-size: 16px;
  border-bottom: 2px solid #CCCCCC;
  background-color: #FFFFFF;
}

.discussion-statement {
  background-color: white;
  position: relative;
  border: 2px solid #CCCCCC;
}

.discussion-statement-heading {
  padding: 5px;
  font-size: 16px;
  color: #04138A;
}

.discussion-statement-heading {
  font-size: 12px;
}

.discussion-statement-text {
  padding: 5px;
  font-size: 14px;
  margin: 0px;
}

.discussion-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

.statement-operation, .statement-delete, .statement-edit {
  display: none;
  position: absolute;
  right: 3px;
  top: 25px;
  font-size: 12px;
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.5);
}

.statement-operation:hover, .statement-delete:hover, .statement-edit:hover {
  font-weight: bold;
}

.statement-edit {
  right: 50px;
}

.discussion-statement-deletable:hover .statement-delete, .discussion-statement-deletable:hover .statement-edit {
  display: block;
}

.discussion-statement-deletable.active-editing:hover .statement-delete, .discussion-statement-deletable.active-editing:hover .statement-edit {
  display: none;
}

.wrapped-text {
  height: 50px;
}

.discussion-blob {
  font-size: 12px;
}

#deleteStatement {
	position: absolute;
	top: 4px;
	right: -4px;
	z-index: 1;
}


/** Speech Bubble **/
.triangle-border {
  /*position: relative;*/  /* deactivated due to Chrome rendering anomaly */
  padding: 5px;
  /*margin: 1em 0 3em;*/ /* deactivated due to Firefox rendering anomaly */
  border: 5px solid RGBA(68, 78, 91, 1);
  color: #333;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 160;
}
*/

.triangle-border:before {
  /*content: ""; */   /* deactivated due to Chrome rendering anomaly */
  position: absolute;
  bottom: -20px;
  left: 40px;
  /* controls horizontal position */
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: RGBA(68, 78, 91, 1) transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}

#easydb-dialog {
  padding-left: .5em;
  padding-right: .5em;
}
#easydb-dialog input {
  border: 1px solid #DFDFE1;
  padding: 5px;
  margin-top: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.easy-load-wrapper {
  width: 150px;
  margin: 150px auto;
  text-align: center;
}

.ui-dialog-content {
  overflow: hidden !important;
}

.easydb-result-wrapper {
  border-top: 1px solid #a2a2a2;
  margin-top: 5px;
  height: 90%;
  overflow: auto;
  margin-right: -1em;
}

.easydb-result-wrapper table > th {
  font-weight: bold;
  vertical-align: top;
  width: 20%;
}

.easydb-result-wrapper table tr:hover {
  background-color: #eeeeee;
}

.selected-row {
  background-color: #dddddd;
}

.easydb-result-wrapper table tr:hover .selected-row {
  background-color: #CCCCCC;
}

.paginator {
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.paginator-button {
  float: left;
  padding: 5px;
  border: 1px solid #a2a2a2;
  background-color: #eeeeee;
  font-weight: bold;
}
.paginator-button.first {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.paginator-button.last {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.paginator-button.current {
  background-color: #cccccc;
}

.js-tree {
  height: 100%;
  overflow: auto;
  padding-right: -1em;
}

.sharepoint-toolbar, .embedded-toolbar {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5a6775), color-stop(100%, #3d454f));
  background: -webkit-linear-gradient(#5a6775, #3d454f);
  background: -moz-linear-gradient(#5a6775, #3d454f);
  background: -o-linear-gradient(#5a6775, #3d454f);
  background: linear-gradient(#5a6775, #3d454f);
  height: 20px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 2px;
}

.embedded-toolbar-button, .minimize-button, .open-extern-button {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: block;
  cursor: pointer;
  padding-right: 5px;
}

.minimize-button {
  background-image: url("../images/close_grey.png");
  float: left;
}

.open-extern-button {
  background-image: url("../images/export.png");
  float: right;
}

.iframe-container {
  background-color: white;
  border: 2px solid #3D454F;
}

.jstree-default.jstree-focused {
  background: #ffffff;
}
