@import "compass/css3";

#easydb-dialog{

  padding-left: .5em;
  padding-right: .5em;

  input{
    border: 1px solid #DFDFE1;
    padding: 5px;
    margin-top: 40px;
    @include box-sizing(border-box);
  }
}

.easy-load-wrapper{

  width: 150px;
  margin: 150px auto;
  text-align: center;
}

.ui-dialog-content{
  overflow: hidden !important;

}

.easydb-result-wrapper{
  border-top: 1px solid darken(#eeeeee, 30%);
  margin-top: 5px;
  height: 90%;
  overflow: auto;
  margin-right: -1em;
}

.easydb-result-wrapper table > th{
  font-weight: bold;
  vertical-align: top;
  width: 20%;
}

.easydb-result-wrapper table tr:hover{
  background-color: #eeeeee;
}

.selected-row{
  background-color: #dddddd;
}

.easydb-result-wrapper table tr:hover .selected-row{
  background-color: #CCCCCC;
}

.paginator{
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 20px;
  @include inline-block(middle);
}

.paginator-button{
  float: left;
  padding: 5px;

  border: 1px solid darken(#eeeeee, 30%);
  background-color: #eeeeee;

  //@include border-radius(5px);
  &.first{
    @include border-left-radius(5px);
  }
  &.last{
    @include border-right-radius(5px);
  }

  font-weight: bold;
}

.paginator-button.current{

  background-color: #cccccc;

}






